<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Step gauge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C195A581CCDC739007B5DBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C195A711CCDC73A007B5DBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C195A7C1CCDC73A007B5DBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
